html, body {
    max-width: 100%;
    overflow-x: hidden;
    background: #ebe7df;
}

#header {
    background: #242424;
    height: 45px;
    padding-left: 100px;
}

#logo {
    color: #57c5a0;
    display: inline-block;
    font-size: 26px;
    margin: 10px 0px 0px 20px;
}

#loginButtonWrapper {
    border-left: 2px solid #cccccc;
    display: inline-block;
    padding-right: 100px;
    height: 100%;
    float: right;
}

#loginButton {
    float: right;
    color: #7e7e7e;
    height: 100%;
    padding: 0px 0px 0px 20px;
    margin: 15px 0px 0px 0px;
    font-size: 16px;
}

#navWrapper a {
    color: #242424;
    font-size: 19px;
}

#searchIcon {
    margin: 15px 20px;
    float: right;
}

#navWrapper {
    background: #ffffff;
    height: 60px;
    padding-left: 100px;
}

#nav {
    float: left;
    padding: 0px 20px;
    height: 100%;
}

#nav ul {
    height: 100%;
}

#nav ul li {
    float: left;
    padding: 0px 22px 0px 22px; /*Top & bottom padding supposed to be 6??*/
    border-left: #eeeeee 2px solid;
    font-size: 16px;
    height: 100%;
}

#nav ul li a {
    line-height: 50px;
}

#nav ul li:last-child {
    border-right: #eee 2px solid;
}

#nav2 {
    float: right;
    margin-right: 100px;
    height: 100%;
}

#nav2 ul {
    height: 100%;
}

#nav2 ul li {
    display: inline-block;
    padding: 0px 20px;
    border-right: 2px solid #cccccc;
    height: 100%;
    line-height: 50px;
}

.navIcons {
    padding-right: 20px;
}

#starText {
    background-color: #adadad;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

#cartText {
    background-color: #57c5a0;
    padding: 5px;
    border-radius: 10px;
}

#bannerImage {
    background: url(../assets/fooseLady.jpg) no-repeat;
    height: 460px;
}

#bannerBlock {
    position: relative;
    top: 70px;
    margin-left: 55%;
    /*left: 735px;
    margin-right: 735px;*/
    /*max-width: 100%;*/
}

#bannerPrice {
    padding: 25px 9px 25px 8px;
    margin-bottom: 20px;
    margin-left: 0px;
    background-color: #57c5a0;
    display: inline-block;
}

#bannerBigText {
    font-size: 40px;
    margin-bottom: 18px;
}

#bannerLittleText {
    font-size: 20px;
}

#bannerIcons li {
    float: left;
    padding: 15px;
    background-color: #fafaf9;
    margin: 20px 0.5% 0 0.5%;
    margin-top: 20px;
}

#bannerIcons #eyeIcon {
    padding: 3px 0px 3px 0px;
}

#bannerIcons #shareIcon {
    padding: 1.5px 0px 1.5px 0px;
}

#bannerIcons #cartArrowIcon {
    padding: 0.5px 0px 0.5px 0px;
}

#shoppingNav {
    background: #2e2e2e;
    display: block;
    height: 60px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
}

#shoppingNav li {
    float: left;
    padding-top: 5px;
    width: 18%;
    /*width: 195px;*/
}

.shoppingNavliWrapper {
    padding: 15px 20px;
    text-align: center;
}

.mainText {
    font-size: 18px;
    color: #f5f5f5;
}

.minorText {
    font-size: 12px;
    color: #f5f5f5;
}

.bar {
    display: block;
    height: 10px;
    background: #000000;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.bar2 {
    display: block;
    height: 2px;
    background: #bcb5a7;
    /*width: 100%;*/
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 5px;
    padding-right: 5px;
}

.selected .selectedBar {
    display: block;
    height: 5px;
    background: #57c5a0;
}

#offers {
    padding-top: 20px;
    background: #242424;
    color: #ffffff;
    height: 215px;
}

#offersList {
    list-style:none;
    margin-left: 100px;
    padding-bottom: 20px;
    /*text-align:center;*/
}

#offersList li:first-child {
    margin-left: 0px;
}

#offersList li {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 10px 10px;
    text-align: center;
    /*padding: 90px 150px;*/
    height: 180px;
    width: 300px;
    /*width: 33.3%;*/
    float: left;
}

#onSaleBG {
    background: url(../assets/onSalebg.png) no-repeat;
}

#specialOffersBG {
    background: url(../assets/specialOffersbg.png) no-repeat;
}

#mustHaveBG {
    background: url(../assets/mustHavebg.png) no-repeat;
}

.offers {
    background: #2f3134;
    opacity: 0.8;
    padding: 20px 25px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.showAllBTN {
    padding: 10px 20px;
    border: 2px solid #bcb5a7;
    margin-right: 100px;
    color: #bcb5a7;
    font-weight: bold;
    text-decoration: none;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.anotherDiv {
    height: 110px;
    margin-left: 100px;
}

.storeItems {
    background: #ebe7df;
}

.storeItems li:first-child {
    margin-left: 0px;
}

.storeItems li {
    display: inline-block;
    position: relative;
    width: 300px;
    margin-left: 15px;
    vertical-align: top;
}

#bannerPrice2 {
    position: absolute;
    top: 0px;
    left: 210px;
    padding: 20px 9px 20px 8px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: #f27e4b;
    color: white;
    display: inline-block;
    text-align: center;
}

.bestSellers {
    display: inline-block;
    font-size: 33px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.date {
    margin-bottom: 10px;
    padding: 15px;
    background: #57c5a0;
    text-align: center;
    color: white;
    margin-right: 10px;
}

#section3 {
    padding-left: 100px;
}

#section3 .small_section {
    width: 215px;
}

#section3 h3 {
    font-size: 19px;
    margin-bottom: 18px;
}

#section3 div {
    display: inline-block;
}

.large_section {
    width: 490px;
}

#section3 .main {
    background: #dfdbd4;
    display: inline-block;
    vertical-align: top;

    padding-top: 33px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-right: 13px;
    margin-bottom: 20px;
    height: 180px;
}

.footer {
    background: #242424;
    padding-top: 50px;
    color: #939393;
}

.footer .footer_section1 {
    margin-left: 100px;
    margin-bottom: 30px;
}

.footer .footer_section1 h3 {
    font-size: 19px;
    margin-bottom: 25px;
}

.footer .footer_section1 .text_widget {
    width: 285px;
}

.footer .footer_section1 li:first-child p {
    padding-top: 0px;
}

.footer .footer_section1 li p {
    padding: 5px 0px;
}

.footer #twitter_widget {
    margin: 0px;
    width: 310px;
    padding: 0 0px;
}

.footer .footer_section1 div {
    display: inline-block;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 25px;
    vertical-align: top;
}

.footer_section2 {
    background: #242424;
    height: 118px;
    border-top: 3px solid #1c1c1c;
}

.footer_section2 div {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer_section2 .social_icons {
    float: right;
    margin-right: 100px;
}

.footer_section2 .newsLetterForm {
    margin-left: 100px;
}


input[type=text] {
    height: 30px;
    width: 150px;
    margin-right: 0px;
    vertical-align: top;
}

input[type=image] {
    padding: 12px;
    margin-left: 0px;
    background: #7d7d7d;
}

.footer_section3 {
    color: #979797;
    background: #2e2e2e;
    height: 88px;
}

.footer_section3 div {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.copyright {
    padding-left: 100px;
}

.footer_nav_links {
    padding-right: 100px;
    float: right;
}


/*********
*
*
*
******* MEDIA QUERIES *****
*
*
*
*/


@media only screen and (max-width: 820px) {

    body {
        background: yellow;
    }

    #bannerBlock {
        margin-left: 5%;
    }
}

@media only screen and (max-width: 650px) {
    body {
        background: green;
    }

    #shoppingNav {
        padding-left: 1%;
        padding-right: 1%;
    }

    #shoppingNav li {
        float: left;
        padding-top: 5px;
        width: 100%;
    }
}